@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300i,400,400i,600,600i,700,800&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    background: #949494;
}

.main {
    padding: 100px 0px;
}

.container {
    background: #ffffff;
    max-width: 1200px;
    margin: auto;
    padding: 0 100px;
    text-align: center;
    box-sizing: border-box;
    font-size: 0px;
}

.inner,.price,.coments,.avatars {
    display: flex;
    justify-content: space-between;
}

.info {
    margin-bottom: 80px;
}

h1 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 60px;
    position: relative;
}

h2 {
    font-size: 20px;
    line-height: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin-bottom: 30px;
}

img,svg {
    margin-bottom: 30px;
}

p {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: #86878b;
}

/* Second block */
.container-price {
    background: #f5f5f5;
    padding: 0 80px;
}

table {
    width: 33.3%;
    border-spacing: 0px;
    padding: 20px;
}

tr:nth-child(1) td {
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    padding: 20px 0;
}

tr:nth-child(2) td {
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    font-weight: bold;
    padding: 10px 0px 0px;
}

tr:nth-child(3) td {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #999999;
    font-weight: 600;
    font-style: italic;
    padding: 15px 0 20px;
}

table tr:nth-child(-n+3) td {
    background: #333333;
}

table tr:nth-child(-n+2) td {
    border-bottom: 1px solid #ffffff;
}

table tr:nth-child(n+4) td {
    font-size: 14px;
    background: #ffffff;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    color: #86878b;
    border-bottom: 1px solid #f5f5f5;
    padding: 10px 0;
}

.professional tr:nth-child(4) td {
    background: #ff8b38;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    padding: 11px 0;
}

.test {
    border-bottom: 5px solid #ff8b38;
}

.price {
    align-items: flex-end;
}

span {
    font-size: 94px;
    line-height: 94px;
}

.letter {
    vertical-align: bottom;
}
/* 3 block */


.tester {
    position: relative;
}

h1::after {
    content: '';
    width: 64px;
    height: 2px;
    background: #ff8b38;
    position: absolute;
    left: 50%;
    bottom: -30px;
    margin-left: -32px;
}


/*3 й блок*/
.coments {
    margin-bottom: 23px;
}

.coments .inner {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 14px;
    background: #f5f5f5;
    width: 25%;
    font-size: 14px;
    padding: 25px 10px;
    text-align: left;
    border-radius: 5px;
    position: relative;
}

.coments .inner::after {
    content: '';
    background-image: url('../icons/polygon.svg');
    position: absolute;
    bottom: -14px;
    left: 25px;
    height: 15px;
    width: 20px;
}

.info_customer {
    margin-bottom: 55px;
}

.avatars .inner {
    width: 27%;
    position: relative;
}

.position {
    position: absolute;
    left: 90px;
    top: 20px;
    text-align: left;
}

.name {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    line-height: 18px;
    color: #333333;
}

/* 4 й блок */

.container_axure {
    background-image: url(../icons/background.png);
    background-repeat: no-repeat;
    background-size: auto 320px;
    height: 320px;
}

.main_axure {
    padding: 75px 0px 0px 0px;
}

.main_axure h1  {
    color: #ffffff;
    margin-bottom: 60px;
}

.main_axure h1::after {
    background: #ffffff;
}

.main_axure p {
    color: #bdbbb7;
    margin-bottom: 45px;
}

.main_axure a {
    border: 2px solid #ffffff;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    font-size: 14px;
    padding: 10px 30px;
    text-decoration: none;
    position: relative;
    z-index: 2;
}

a::before {
    content: '';
    height: 0px;
    position: absolute;
    top: 0px;
    left: 0;
    background: #ff8b38;
    z-index: -1;
}

a:hover:before {
    width: 126px;
    height: 40px;
    transition: all .4s ease-in-out;
}

a:hover {
    border: none;
}





/* footer */

.footer {
    max-width: 1200px;
    height: 100px;
    background: #000000;
    margin: auto;
}



